@model ItemViewModel

<div class="container">
    <h3>New Item</h3>
    <form asp-action="CreateNewItem" method="post" class="align-self-md-auto" enctype="multipart/form-data">

        <div class="form-group" style="" hidden="hidden">
            <label asp-for="Item.CollectionID"></label>
            <div>
                <input asp-for="Item.CollectionID" value="@Model.Item.CollectionID" />
            </div>
        </div>

        <div class="form-group" style="">
            <label asp-for="Item.Name"></label>
            <div>
                <input asp-for="Item.Name" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="File" class="custom-control-label"></label>
            <input asp-for="File" accept="image/*">
            <span asp-validation-for="File" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Tags"></label>
            <div>
                <input asp-for="Tags" />
            </div>
        </div>

        <div class="form-group">
            @if (Model.Item.Collection.NumericField1_visible || Model.Item.Collection.NumericField2_visible || Model.Item.Collection.NumericField3_visible)
            {<h4> Numerical boxes </h4>}
            @if (Model.Item.Collection.NumericField1_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.NumericField1_name">@Model.Item.Collection.NumericField1_name</label>
                    <div>
                        <input asp-for="Item.NumericField1" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.NumericField2_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.NumericField2_name">@Model.Item.Collection.NumericField2_name</label>
                    <div>
                        <input asp-for="Item.NumericField2" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.NumericField3_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.NumericField3_name">@Model.Item.Collection.NumericField3_name</label>
                    <div>
                        <input asp-for="Item.NumericField3" />
                    </div>
                </div>
            }

        </div>

        <div class="form-group">
            @if (Model.Item.Collection.StringField1_visible || Model.Item.Collection.StringField2_visible || Model.Item.Collection.StringField3_visible)
            {<h4> String boxes </h4>}
            @if (Model.Item.Collection.StringField1_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.StringField1_name">@Model.Item.Collection.StringField1_name</label>
                    <div>
                        <input asp-for="Item.StringField1" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.StringField2_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.StringField2_name">@Model.Item.Collection.StringField2_name</label>
                    <div>
                        <input asp-for="Item.StringField2" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.StringField3_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.StringField3_name">@Model.Item.Collection.StringField3_name</label>
                    <div>
                        <input asp-for="Item.StringField3" />
                    </div>
                </div>
            }

        </div>

        <div class="form-group">
            @if (Model.Item.Collection.TextField1_visible || Model.Item.Collection.TextField2_visible || Model.Item.Collection.TextField3_visible)
            {<h4> Text boxes </h4>}
            @if (Model.Item.Collection.TextField1_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.TextField1_name">@Model.Item.Collection.TextField1_name</label>
                    <div>
                        <input asp-for="Item.TextField1" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.TextField2_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.TextField2_name">@Model.Item.Collection.TextField2_name</label>
                    <div>
                        <input asp-for="Item.TextField2" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.TextField3_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.TextField3_name">@Model.Item.Collection.TextField3_name</label>
                    <div>
                        <input asp-for="Item.TextField3" />
                    </div>
                </div>
            }

        </div>

        <div class="form-group">
            @if (Model.Item.Collection.DateField1_visible || Model.Item.Collection.DateField2_visible || Model.Item.Collection.DateField3_visible)
            {<h4> Date boxes </h4>}
            @if (Model.Item.Collection.DateField1_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.DateField1_name">@Model.Item.Collection.DateField1_name</label>
                    <div>
                        <input asp-for="Item.DateField1" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.DateField2_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.DateField2_name">@Model.Item.Collection.DateField2_name</label>
                    <div>
                        <input asp-for="Item.DateField2" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.DateField3_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.DateField3_name">@Model.Item.Collection.DateField3_name</label>
                    <div>
                        <input asp-for="Item.DateField3" />
                    </div>
                </div>
            }

        </div>

        <div class="form-group">
            @if (Model.Item.Collection.BooleanField1_visible || Model.Item.Collection.BooleanField1_visible || Model.Item.Collection.BooleanField1_visible)
            {<h4> Chackboxes </h4>}
            @if (Model.Item.Collection.BooleanField1_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.BooleanField1_name">@Model.Item.Collection.BooleanField1_name</label>
                    <div>
                        <input asp-for="Item.BooleanField1" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.BooleanField2_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.BooleanField2_name">@Model.Item.Collection.BooleanField2_name</label>
                    <div>
                        <input asp-for="Item.BooleanField2" />
                    </div>
                </div>
            }

            @if (Model.Item.Collection.BooleanField3_visible)
            {
                <div class="form-group">
                    <label asp-for="Item.Collection.BooleanField3_name">@Model.Item.Collection.BooleanField3_name</label>
                    <div>
                        <input asp-for="Item.BooleanField3" />
                    </div>
                </div>
            }

        </div>

        <div>
            <input class="btn btn-success" type="submit" value="Submit" />
            <a class="btn btn-warning" asp-controller="Collections" asp-action="EditCollection" asp-route-collectionID="@Model.Item.CollectionID"> To collection edit </a>
        </div>

    </form>
</div>