@model ItemViewModel

<form asp-action="EditItem" method="post" class="align-self-md-auto">

    <div class="form-group" style="" hidden="hidden">
        <label asp-for="Item.ID"></label>
        <div>
            <input asp-for="Item.ID" value="@Model.Item.ID" />
        </div>
    </div>

    <div class="form-group" style="" hidden="hidden">
        <label asp-for="Item.CollectionID"></label>
        <div>
            <input asp-for="Item.CollectionID" value="@Model.Item.CollectionID" />
        </div>
    </div>

    <div class="form-group" style="" hidden="hidden">
        <label asp-for="Item.tags"></label>
        <div>
            <input asp-for="Item.tags" value="@Model.Item.tags" />
        </div>
    </div>

    <div class="form-group" style="">
        <label asp-for="Item.Name"></label>
        <div>
            <input asp-for="Item.Name" value="@Model.Item.Name" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Tags"></label>
        <div>
            <input asp-for="Tags" value="@foreach (var tagObject in Model.Item.tags) { @string.Concat("#",tagObject.tag) }" />
        </div>
    </div>

    <div class="form-group">
        @if (Model.Item.Collection.NumericField1_visible || Model.Item.Collection.NumericField2_visible || Model.Item.Collection.NumericField3_visible)
        {<h4> Numerical boxes </h4>}
        @if (Model.Item.Collection.NumericField1_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.NumericField1_name"> @Model.Item.Collection.NumericField1_name</label>
                <div>
                    <input asp-for="Item.NumericField1" value="@Model.Item.NumericField1" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.NumericField2_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.NumericField2_name"> @Model.Item.Collection.NumericField2_name</label>
                <div>
                    <input asp-for="Item.NumericField2" value="@Model.Item.NumericField2" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.NumericField3_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.NumericField3_name">@Model.Item.Collection.NumericField3_name</label>
                <div>
                    <input asp-for="Item.NumericField3" value="@Model.Item.NumericField3" />
                </div>
            </div>
        }

    </div>

    <div class="form-group">
        @if (Model.Item.Collection.StringField1_visible || Model.Item.Collection.StringField2_visible || Model.Item.Collection.StringField3_visible)
        {<h4> String boxes </h4>}
        @if (Model.Item.Collection.StringField1_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.StringField1_name">@Model.Item.Collection.StringField1_name</label>
                <div>
                    <input asp-for="Item.StringField1" value="@Model.Item.StringField1" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.StringField2_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.StringField2_name">@Model.Item.Collection.StringField2_name</label>
                <div>
                    <input asp-for="Item.StringField2" value="@Model.Item.StringField2" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.StringField3_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.StringField3_name">@Model.Item.Collection.StringField3_name</label>
                <div>
                    <input asp-for="Item.StringField3" value="@Model.Item.StringField3" />
                </div>
            </div>
        }

    </div>

    <div class="form-group">
        @if (Model.Item.Collection.TextField1_visible || Model.Item.Collection.TextField2_visible || Model.Item.Collection.TextField3_visible)
        {<h4> Text boxes </h4>}
        @if (Model.Item.Collection.TextField1_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.TextField1_name">@Model.Item.Collection.TextField1_name</label>
                <div>
                    <input asp-for="Item.TextField1" value="@Model.Item.TextField1" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.TextField2_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.TextField2_name">@Model.Item.Collection.TextField2_name</label>
                <div>
                    <input asp-for="Item.TextField2" value="@Model.Item.TextField2" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.TextField3_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.TextField3_name">@Model.Item.Collection.TextField3_name</label>
                <div>
                    <input asp-for="Item.TextField3" value="@Model.Item.TextField3" />
                </div>
            </div>
        }

    </div>

    <div class="form-group">
        @if (Model.Item.Collection.DateField1_visible || Model.Item.Collection.DateField2_visible || Model.Item.Collection.DateField3_visible)
        {<h4> Date boxes </h4>}
        @if (Model.Item.Collection.DateField1_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.DateField1_name">@Model.Item.Collection.DateField1_name</label>
                <div>
                    <input asp-for="Item.DateField1" value="@Model.Item.DateField1" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.DateField2_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.DateField2_name">@Model.Item.Collection.DateField2_name</label>
                <div>
                    <input asp-for="Item.DateField2" value="@Model.Item.DateField2" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.DateField3_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.DateField3_name">@Model.Item.Collection.DateField3_name</label>
                <div>
                    <input asp-for="Item.DateField3" value="@Model.Item.DateField3" />
                </div>
            </div>
        }

    </div>

    <div class="form-group">
        @if (Model.Item.Collection.BooleanField1_visible || Model.Item.Collection.BooleanField1_visible || Model.Item.Collection.BooleanField1_visible)
        {<h4> Chackboxes </h4>}
        @if (Model.Item.Collection.BooleanField1_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.BooleanField1_name">@Model.Item.Collection.BooleanField1_name</label>
                <div>
                    <input asp-for="Item.BooleanField1" value="@Model.Item.BooleanField1" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.BooleanField2_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.BooleanField2_name">@Model.Item.Collection.BooleanField2_name</label>
                <div>
                    <input asp-for="Item.BooleanField2" value="@Model.Item.BooleanField2" />
                </div>
            </div>
        }

        @if (Model.Item.Collection.BooleanField3_visible)
        {
            <div class="form-group">
                <label asp-for="@Model.Item.Collection.BooleanField3_name">@Model.Item.Collection.BooleanField3_name</label>
                <div>
                    <input asp-for="Item.BooleanField3" value="@Model.Item.BooleanField3" />
                </div>
            </div>
        }

    </div>

    <div>
        <input class="btn btn-success" type="submit" value="Save changes" />
        <a class="btn btn-warning" asp-controller="Items" asp-action="DeleteItem" asp-route-itemID="@Model.Item.ID"> Delete </a>
        <a class="btn btn-warning" asp-controller="Collections" asp-action="EditCollection" asp-route-collectionID="@Model.Item.CollectionID"> Edit Collection </a>
    </div>

</form>