@model ItemListInCollectionEditModel

<div>
    <h2>@Model.Name</h2>
</div>
 <div>
     <img src="@("~/image/"+ Model.ImageName)" asp-append-version="true" width="200px" height="200px" />
 </div>
<div>
    <h3>@Model.Theme</h3>
    <h4>@Model.Description</h4>
</div>


<div class="row mt-5 mb-2">
        <a asp-controller="Collections" asp-action="SortDetails" asp-route-collectionID="@Model.ID" title="Alphabetical order">A->Z</a>
    <table class="table table-striped table-bordered ">
        <tbody class="table-responsive ">
            <tr><th>Name</th><th>Tag</th><th></th></tr>
            @{
                foreach (var item in Model.GetItems)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @foreach (var tagObject in item.tags)
                            {@string.Concat("#", tagObject.tag)}
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Items" asp-action="ItemDetails" asp-route-itemID="@item.ID"> Details </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<a class="btn btn-light" asp-controller="Users" asp-action="UserPage" asp-route-userID="@Model.UserID"> User Page </a>