@model UserPageViewModel

<h2>@Model.Email</h2>
<div class="row mt-5 mb-2">
    @{
        foreach (var collection in Model.GetCollections)
        {
            <div class="col-lg-4">
                <div><h3>@collection.Name</h3></div>
                <div><img src="@("~/image/"+ collection.Image.ImageName)" asp-append-version="true" width="250px" height="250px" /></div>
                <p>@collection.Theme</p>

                <a class="btn btn-warning" asp-controller="Collections" asp-action="CollectionDetails" asp-route-collectionID="@collection.ID"> Details </a>
                @if (Model.CurrentUserID == collection.userID || User.IsInRole("admin"))
                {<a class="btn btn-warning" asp-controller="Collections" asp-action="EditCollection" asp-route-collectionID="@collection.ID"> Edit </a>}
            </div>
        }

    }

    @if (Model.CurrentUserID == Model.UserID || User.IsInRole("admin"))
    {<a class="btn btn-light" asp-controller="Collections" asp-action="CreateNewCollection" asp-route-userID="@Model.UserID"> + New Collection </a>}
</div>